<div class="justify-content-center align-items-center row">
  <app-technician-navbar></app-technician-navbar>
  <div class="grid p-3 justify-content-center ">
    <div class="flex flex-column ">
      <div class="card xl:col-10 lg:col-10 md:col-10 sm:col-9  mt-5 md:mt-4 h-auto">
        <h2 class="text-dark fs-4 text-center">Perfil de {{technicianActual.names| titlecase}}</h2>
        <button id="profile" type="button" (click)="openDialogImage(technicianActual)">
          <img class="img-thumbnail img-fluid rounded mx-auto d-block border border-dark w-30rem h-20rem" [src]="technicianActual.urlToProfile"  alt="Profile">
        </button>
        <br>
        <div class="card-body ">
          <h5 class="card-title fs-6 text-start">
            <strong>Nombre:</strong></h5>
          <p class="card-text text-center">{{technicianActual.names | titlecase}}
            <br>
          <h5 class="card-title fs-6 text-start">
            <strong>Apellido:</strong></h5>
          <p class="card-text text-center">{{technicianActual.lastNames | titlecase}}
            <br>
          <h5 class="card-title fs-6 text-start">
            <strong>Direccion:</strong></h5>
          <p class="card-text text-center">{{technicianActual.address | titlecase}}
            <br>
          <h5 class="card-title fs-6 text-start ">
            <strong>Celular:</strong></h5>
          <p class="card-text text-center">{{technicianActual.cellPhoneNumber}}
            <br>
            <button type="button" class="btn btn-outline-danger btn-sm ml-auto" (click)="openDialog(technicianActual)">
              <i class="bi bi-pencil"></i> Editar
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
