@media (min-width: 768px) {
  sidebar {
    height: 65px;
    gap: 2rem;

  }
  .mat-spacer {
    flex: 1 1 auto;
  }
}
@media (max-width: 768px) {
  mat-toolbar{
    display: flex;
    height: 300px;
    gap: 1rem;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #sidebar {
    height: 100%;
  }
}
#sidebar {
  height: 125vh;
  width: auto;
}
a{
  margin-left: 1rem;
}

